img {
    max-width: 100%;
}


.blue {
    color:blue;
    font-size: 24pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.black {
    color:black;
    font-size: 18pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.border
{
border-style: double;
border-width: 5px;
border-radius: 5px;
padding: 0% 5% 2%;
margin-top: 10px;
margin-bottom: 10px;
color:purple;

}



body {

    background-color: lightblue;
    color: darkblue;
    border-color: blueviolet;
    border-width: 5px;
    outline: solid 10px;
    border-radius: 5px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    margin:10px;

    

}

#shoppingcart {
    float:left;
    margin-right: 5%;
}

#contactus {
    float:right;
    margin-left: 5%;
}

/* Photo Gallery CSS */

.grid-container {
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
}
.pubpals {
grid-column: 1 / span 1;
}
.girlygamers {
grid-column: 2 / span 1;
}
.crazyquiz {
grid-column: 1 / span 1;
}
.touringtales {
grid-column: 2 / span 1;
}
/* the photo grid is 12 columns */

/* Empower Stockport Shop CSS */


.purple {
    color: purple;
    font-size: 32pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.blackshop {
    color:black;
    font-size: 24pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.button {
background-color:greenyellow;
border-style: dotted;
color: black;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 45px;
margin: 4px 2px;
cursor: pointer;
}



/* Empower Stockport Navigation Bar CSS */
#navBar {
    background-color:darkblue;
    overflow:hidden;
    list-style-type: none;
    padding:0;
}

li {
    float:left;
    border-right: solid;
    border-color: whitesmoke;
}

li a {
    display:block;
    color:white;
    text-align:center;
    padding: 14px;
    text-decoration:none;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a:hover {
    background-color: violet;
    color: white;
}

.active {
    background-color:violet

}
